$orange: #FF5E00;
$orange-hover: #ee5800;
$orange-light: #ff9e66;
$dark-grey: #4a4a4a;
$light-grey: #959595;
$palest-grey: #ccc;

$teal: #34C2AC;
$green: #14CC64;
$orchid: #964A8B;
$cool-blue: #008BC7;
$deep-purple: #330040;
$rose: #330040;
$lime: #A5C741;
$rusty-red: #D14D3C;
$goldenrod: #F2BD1D;
$blush: #FF8A80;